@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 100% 0% 90%; /* done */
    --foreground: 14% 1% 286%; /* done */
    --card: 100% 0% 90%; /* done */
    --card-foreground: 14% 1% 286%; /* done */
    --popover: 100% 0% 90%; /* done */
    --popover-foreground: 14% 1% 286%; /* done */
    --primary: 62.7% 42.5% 150%; /* done */
    --primary-foreground: 97% 3.8% 12.4%; /* done */
    --secondary: 96.7% 0.25% 286.4%; /* done */
    --secondary-foreground: 21% 1.5% 286%; /* done */
    --muted: 96.7% 0.25% 286.4%; /* done */
    --muted-foreground: 55.2% 3.5% 286%; /* done */
    --accent: 96.7% 0.25% 286.4%; /* done */
    --accent-foreground: 21% 1.5% 286%; /* done */
    --destructive: 63.7% 52% 25.3%; /* done */
    --destructive-foreground: 98.5% 0% 90%; /* done */
    --border: 92% 1% 286.3%; /* done */
    --input: 92% 1% 286.3%; /* done */
    --ring: 62.7% 42.5% 150%; /* done */
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 14.7% 1% 50%; /* done */
    --foreground: 96% 0% 90%; /* done */
    --card: 21.6% 1.5% 56%; /* done */
    --card-foreground: 96% 0% 90%; /* done */
    --popover: 20.5% 0% 90%; /* done */
    --popover-foreground: 96% 0% 90%; /* done */
    --primary: 72.3% 48% 150%; /* done */
    --primary-foreground: 26.6% 15.75% 153%; /* done */
    --secondary: 27.4% 1.3% 286%; /* done */
    --secondary-foreground: 98.5% 0% 90%; /* done */
    --muted: 27% 0% 90%; /* done */
    --muted-foreground: 71.2% 3.3% 286%; /* done */
    --accent: 26.8% 1.5% 34.3%; /* done */
    --accent-foreground: 98.5% 0% 90%; /* done */
    --destructive: 40% 33.3% 25.7%; /* done */
    --destructive-foreground: 97% 3.3% 17.4%; /* done */
    --border: 27.4% 1.3% 286%; /* done */
    --input: 27.4% 1.3% 286%; /* done */
    --ring: 52.7% 34.3% 150%; /* done */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground scroll-smooth;
  }
  
  .video-progress-bar {
    position: relative;
  }
  
  .video-progress-bar::after {
    @apply bg-green-500;

    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
  }
}